<!DOCTYPE html>
<html>
<head>
    <title>Spent - Where is your money going?</title>
</head>
<body>
    <h1>Sign up for Spent and learn abput your spending habits</h1>
    <form action="/signup" method="post">
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button>Sign up for free</button>
    </form>
</body>
</html>