<!DOCTYPE html>
<html>
<head>
    <title>Spent</title>
</head>
<body>
    this is where app will go
    <script>
        var user = {
            id: '<%= userId %>',
            email: '<%= userEmail %>'
        }
    </script>
</body>
</html>