<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/common-meta'); %>
    <title>Spent</title>
</head>
<body>
    <div id="app"></div>
    <script>
        var user = {
            id: '<%= userId %>',
            email: '<%= userEmail %>'
        }
    </script>
    <script src="assets/build.js"></script>
</body>
</html>