<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/common-meta'); %>
    <title>Spent - Where is your money going?</title>
    <style>
        * {
            box-sizing: inherit;
        }

        body {
            box-sizing: border-box;
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #fff;
        }

        h1 {
            font-weight: 500;
        }

        form {
            max-width: 350px;
            margin: auto;
        }

        .page {
            height: 100vh;
        }

        .page--gradient {
            background-color: #27D9CC;
            background-image: linear-gradient(#0EEB9C, #00C9FF);
        }

        .container {
            max-width: 800px;
            margin: auto;
        }

        .center {
            text-align: center;
        }

        .hide {
            display: none;
        }

        .text-field {
            position: relative;
            height: 80px;
        }

        .text-field__input {
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,0.45);
            background: none;
            outline: none;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.5;
            color: inherit;
        }

        .text-field__label {
            position: absolute;
            bottom: 0;
            font-size: 20px;
            line-height: 1;
            transform: translateY(-10px);
            transition: transform 0.15s ease;
            cursor: text;
        }

        /*
        .text-field--active .text-field__label,
        .text-field__input:focus + .text-field__label {
            transform: translateY(-40px);
        }
        */

        .text-field--active .text-field__label {
            transform: translateY(-40px);
        }
    </style>
</head>
<body>
    <section class="page page--gradient">
        <div class="container">
            <h1 class="center">Spent.</h1>
            <h2 class="center">Ready to take charge of your spending?</h2>
            <form action="/signup" method="post">
                <div class="text-field">
                    <input id="email" class="text-field__input" type="text" name="email" required />
                    <label class="text-field__label" for="email">Email</label>
                </div>
                <div class="text-field">
                    <input id="password" class="text-field__input" type="password" name="password" required />
                    <label class="text-field__label" for="password">Password</label>
                </div>
                <button>Get Spent</button>
            </form>
            <p>Already have an account? <a href="#login">Log in here.</a></p>
        </div>

        <div class="container hide">
            <h2 class="center">Already have an account?</h2>
            <form action="/login" method="post">
                <input type="text" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button>Login</button>
            </form>
        </div>
    </section>
    <script type="text/javascript">
        (function ($) {
            var $body = document.body;
            var textFieldEvents = ['keydown', 'focusin', 'focusout'];

            textFieldEvents.forEach(function (eventName) {
                $body.addEventListener(eventName, function(e) {
                    if (e.target && e.target.classList.contains('text-field__input')) {
                        textFieldEvent(e.target.parentNode);
                    }
                });
            });

            function textFieldEvent($textField) {
                var action;
                var $input = $textField.querySelector('input');

                if (document.activeElement === $input) {
                    action = 'add';
                } else {
                    action = $input.value.length > 0 ? 'add' : 'remove';
                }

                if (action) {
                    $textField.classList[action]('text-field--active');
                }
            }
        })(document.querySelectorAll.bind(document));
    </script>
</body>
</html>