<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/common-meta'); %>
    <title>Spent - Where is your money going?</title>
    <style>
        * {
            box-sizing: inherit;
        }

        body {
            box-sizing: border-box;
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            color: #fff;
        }

        form {
            max-width: 350px;
            margin: auto;
        }

        a {
            font-weight: bold;
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .mt-2 {  margin-top: 20px; }
        .mt-3 {  margin-top: 30px; }
        .mt-4 {  margin-top: 40px; }
        .mt-5 {  margin-top: 50px; }

        .page {
            height: 100vh;
            padding: 1px 0 0 0;
        }

        .page--center-content {
            display: flex;
            align-items: center;
        }

        .page--gradient {
            background-color: #27D9CC;
            background-image: linear-gradient(#0EEB9C, #00C9FF);
        }

        .page__heading {
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }

        .page__heading--main {
            font-size: 50px;
            font-weight: 500;
            letter-spacing: 0.7px;
        }

        .page__heading--sub {
            font-size: 28px;
            font-weight: 800;
        }

        .container {
            max-width: 800px;
            margin: auto;
            padding: 0 25px;
        }

        .center {
            text-align: center;
        }

        .hide {
            display: none;
        }

        .text-field {
            position: relative;
            height: 80px;
        }

        .text-field__input {
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,0.45);
            background: none;
            outline: none;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.5;
            color: inherit;
        }

        .text-field__label {
            position: absolute;
            bottom: 0;
            font-size: 20px;
            line-height: 1;
            transform: translateY(-10px);
            transition: transform 0.2s ease;
            cursor: text;
            opacity: 0.7;
        }

        .text-field--active .text-field__label {
            transform: translateY(-40px) scale(0.9);
        }

        .btn {
            width: 240px;
            padding: 15px 0;
            border: none;
            background-color: #d500f9;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            border-radius: 3px;
            font-size: 24px;
            font-weight: 500;
            color: white;
            text-align: center;
            font-family: inherit;
            cursor: pointer;
            transition: transform 0.2s ease, background-color 0.2s ease;
            outline: none;
        }

        .btn:hover {
            transform: scale(1.025);
        }

        .btn:active {
            background-color: #b602d6;
            transform: scale(1);
        }

        .btn--center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <section class="page page--gradient page--center-content">
        <div class="container">
            <h1 class="page__heading page__heading--main center">Spent.</h1>
            <h2 class="page__heading page__heading--sub center mt-4">Ready to take charge of your spending?</h2>
            <form action="/signup" method="post" autocomplete="off">
                <div class="text-field">
                    <input id="email" class="text-field__input" type="email" name="email" required />
                    <label class="text-field__label" for="email">Email</label>
                </div>
                <div class="text-field">
                    <input id="password" class="text-field__input" type="password" name="password" pattern=".{4,}" title="4 characters minimum" required />
                    <label class="text-field__label" for="password">Password</label>
                </div>
                <button class="btn btn--center mt-4">Get Spent.</button>
            </form>
            <p class="center mt-2">Already have an account? <a href="#login">Log in here.</a></p>
        </div>

        <div class="container hide">
            <h2 class="center">Already have an account?</h2>
            <form action="/login" method="post" autocomplete="off">
                <input type="text" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button class="btn btn--center">Login</button>
            </form>
        </div>
    </section>
    <script type="text/javascript">
        (function ($) {
            var $body = document.body;
            var textFieldEvents = ['keydown', 'focusin', 'focusout'];

            textFieldEvents.forEach(function (eventName) {
                $body.addEventListener(eventName, function(e) {
                    if (e.target && e.target.classList.contains('text-field__input')) {
                        textFieldEvent(e.target.parentNode);
                    }
                });
            });

            function textFieldEvent($textField) {
                var action;
                var $input = $textField.querySelector('input');

                if (document.activeElement === $input) {
                    action = 'add';
                } else {
                    action = $input.value.length > 0 ? 'add' : 'remove';
                }

                if (action) {
                    $textField.classList[action]('text-field--active');
                }
            }
        })(document.querySelectorAll.bind(document));
    </script>
</body>
</html>